doctype 5
html
  head
    title Questionarieod?
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" type="text/css" href="/css/styles.css")
    script(src="/js/helper.js")
    style.
      html {
        padding: 30px;
        
        font-size: calc(16pt + .75vw);
      }
      h1 {
        font-size: calc(24pt + 1.5vw);
      }
      

  body
    h1 Welcome to my Questionarieod!
    p This webzone allows you to quickly, and ethically, ask questions and get answers in REALTIME. Navigate towards /join to join a game, or if you're feeling spicy create a game over at /create
    - for(var i = 0; i < 100; i++) {
      br
    - }
    p Here's an Axolotl
    br
    img(src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fs-media-cache-ak0.pinimg.com%2Foriginals%2F79%2F1a%2F7b%2F791a7b906ab6d0f3ad17d269bf6a3552.jpg&f=1" style="width:40vw; height:40vh")
    br
    br
    p YOU'RE WELCOME
    
