doctype 5
html
  head
    title Webzone Name
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" type="text/css" href="/css/styles.css")
    script(src="/js/helper.js")
    script.
      var isPlayer = true;
      var clearNumb = setInterval(() => {
        validate(gId('questionInput'));
      }, 10);
      function validate(elem) {
          if (!/^[a-zA-Z]*$/g.test(elem.value)) {
              var fakearr = elem.value.split("");
              var arr = [];
              for(var i = 0; i < fakearr.length; i++) {
                arr.push(fakearr[i]);
              }
              
              var char = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz'.split("");
              for(var i = 0; i < arr.length; i++) {
                var remove = true;
                for(var j = 0; j < char.length; j++) { 
                  if(arr[i] == char[j]) {
                    remove = false;
                  }
                }
                if(remove) {
                  arr.splice(i, 1);
                }
              }
              elem.select(0);
              elem.value = arr.join("");
          }
      }
    script(src="/js/animations.js")
    script(src="/js/serverConnect.js")
  body
    p(id="hostId")
    div(id="main")
      div(id="floater")
      center
        p(class="bigText sideToSide center unselectable" style="margin: 0 auto; width: 20%") Enter ID
      br
      div(id="pin" class="center")
        form(onsubmit="join(gId('floater'), gClass('bigText')[0], gId('pin'), gId('questionInput')); return false")
          input(type="text" id="questionInput" maxlength="4" style="text-align: center; text-transform:uppercase")
