doctype 5
html
  head
    title Webzone Name
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" type="text/css" href="/css/styles.css")
    script(src="/js/helper.js")
    script(src="/js/serverConnect.js")
  body
    center
      div
        div(id="floater")
        p(class="bigText sideToSide") Enter PIN
        br
        div(id="pin")
          form(onsubmit="connectHost(); return false")
            input(type="text" id="questionInput" maxlength="5" style="text-align: center")
