doctype 5
html
  head
    title Webzone Name
    link(rel="stylesheet" type="text/css" href="/css/styles.css")
    script(src="/js/formSubmit.js")
  body
    center
      div(id="question")
        form(onsubmit="createHost(); return false")
          input(type="text" id="questionInput")
