doctype 5
html
  head
    title Webzone Name
    link(rel="stylesheet" type="text/css" href="/css/styles.css")
    script(src="/js/helper.js")
    script(src="/js/formSubmit.js")
  body
    center
      div(id="question")
        form(onsubmit="createHost(); return false")
          input(type="text" id="questionInput")
    span(onclick="confirm('clicked')" id="plus" class="circle")
      img(src="/img/Plus.png" width="50px" height="50px" style="margin: 20px")
