doctype 5
html
  head
    title Webzone Name!
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" type="text/css" href="/css/styles.css")
    script(src="/js/helper.js")
    script.
      var isPlayer = false;  
    script(src="/js/animations.js")
    script(src="/js/serverConnect.js")
  body
    div
      div(id="floater")
      div(style="text-align: center;" class="bigText sideToSide unselectable") Write a question
      br
      br
      div(id="question" class="verticalCentre")
        form(onsubmit="if(info==null){questionToSettings(gId('floater'), gClass('bigText')[0], gId('question'), gId('questionInput'));}else{startHost();}return false")
          input(type="text" id="questionInput" contenteditable="true" maxlength="40" style="padding-left: 10px")
    br
    p(id="hostId")
    script.
      //Code for centering the input bar thingo
      var inputStyle = window.getComputedStyle(gId('questionInput'));
      var width = Number(inputStyle.getPropertyValue('width').split('p')[0]);
      gId('questionInput').style.margin = "0 calc(50vw - " + width/2 + "px)";
      
      var centerInput = setInterval(() => {
        var inputStyle = window.getComputedStyle(gId('questionInput'));
        var width = Number(inputStyle.getPropertyValue('width').split('p')[0]);
        gId('questionInput').style.margin = "0 calc(50vw - " + width/2 + "px)";
      }, 200);
