
/* Html */
html {
  font-family: roboto;
  color: white;
  margin: 0px;
  animation-name: backgroundColorChange;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

input[type="text"] {
  color: black;
  border: 0px;
  /*background-color: rgba(0, 0, 0, 0);*/
}


/* Id */
#title {

}

/* Animations */

@keyframes backgroundColorChange {
  0% {
    background-color: rgb(54, 47, 65);
  }

  50% {
    background-color: rgb(63, 50, 80);
  }

  100% {
    background-color: rgb(54, 47, 65);
  }
}
