
/* Html */
html {
  font-family: roboto;
  color: white;
  margin: 0px;
  animation-name: backgroundColorChange;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

input[type="text"] {
  display: inline-block;
  color: black;
  border: 0px;
}

input[type="text"]:focus {
  outline: none;
}

input[type="checkBox"] {
  display: inline-block;
  background-color: white;
  border: 0px;
  border-radius: 0px;
  width: 25px;
  height: 25px;
  color: black;
  border: 0px;
}

input[type="checkBox"]:focus {
  outline: none;
}

p {
  border: 0px;
  margin: 0px;
}


/* Id */
#question {
  width: 20vw;
  height: 5vh;
  min-height: 50px;
  min-width: 250px;
  margin: 0 40vw;
  display: block;
  border-radius: 15px;
}

#pin {
  max-width: 150px;
  min-height: 50px;
  width: 20vw;
  height: 5vh;
  text-align: center;
  border-radius: 15px;
}

#questionInput {
  width: 100%;
  height: 100%;
  font-size: 24pt;
}

#settings {
  width: 70vw;
  height: 40vh;
  background-color: rgb(67, 56, 84);
  padding: .1%;
}

#plus:hover {
  animation: buttonAnimateHover .1s;
  background-color: rgb(93, 38, 102);
}

#overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.25);
}

#floater {
  height:20vh;
}


/* Class */
.button {
  width: 200px;
  height: 100px;
  background-color: green;
}

.voteDiv {
  width: 10vw;
  height: 10vh;
  min-width: 200px;
  min-height: 100px;
  max-height: 160px;

  margin: 0 auto;
  padding: 10px;

  font-size: 20pt;

  border-radius: 10px;
  background-color: rgb(35, 21, 41);
}

.voteDiv:hover {
  background-color: rgb(255, 212, 65);
}

.voteInput {
  position: relative;
  top: 30%;
  width: 100%;
  height: 30%;
  font-size: 20pt;
  border-radius: 0px;
  background-color: WHITE;
}

.bigText {
  font-size: 60pt;
}

.circle {
  border-radius: 100%;
}

.sideToSide {
  animation: sideToSide 1s infinite;
}

.verticalCentre {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center {
  margin: 0 auto;
}


/* Animations */

@keyframes backgroundColorChange {
  0% {
    background-color: rgb(54, 47, 65);
  }

  50% {
    background-color: rgb(63, 50, 80);
  }

  100% {
    background-color: rgb(54, 47, 65);
  }
}

@keyframes buttonAnimateHover {
  0% {
    background-color: rgb(121, 69, 143);
  }

  100% {
    background-color: rgb(93, 38, 102);
  }
}

@keyframes sideToSide {
  0% {
    transform: rotate(2.5deg);
  }

  51% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(2.5deg);
  }
}


/* Fonts */

@font-face {
  font-family: roboto;
  src: url(/fonts/Roboto-Regular.ttf);
}
